name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  sast_scan:
    name: Run Static Code Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@0.28.0
        env:
          TRIVY_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-db:2
        with:
          scan-type: 'fs'
          ignore-unfixed: true
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL'

      - name: Upload Trivy scan artifact
        uses: actions/upload-artifact@v4
        with:
          name: trivy-results
          path: trivy-results.sarif
          if-no-files-found: warn

  image_scan:
    name: Build Image and Run Docker Scout Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.REPO_USER }}
          password: ${{ secrets.REPO_PWD }}

      - name: Set up Docker
        uses: docker-practice/actions-setup-docker@v1

      - name: Build Docker Image
        run: docker build -f Dockerfile -t pygoat_app:latest .

      - name: Run Docker Scout Scan
        uses: docker/scout-action@v1.15.0
        id: docker-scout
        with:
          dockerhub-user: ${{ secrets.REPO_USER }}
          dockerhub-password: ${{ secrets.REPO_PWD }}
          command: quickview,cves
          only-severities: critical,high
          sarif-file: scout-report.sarif

      - name: Debug SARIF file
        run: |
          if [ -f scout-report.sarif ]; then
            echo "SARIF file exists:"
            ls -l scout-report.sarif
          else
            echo "SARIF file not found!"
          fi

      - name: Upload Docker Scout Artifact
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: docker-scout-findings
          path: scout-report.sarif
